{% extends 'layout.html' %}

{% block content %}
<div class="page_margins" style="">
	<h1>welcome, {{ name }}</h1>

	<div class="task">
		<div class="square">
			<h1>T</h1>
		</div>
		<div>
		<h4>Here's a test task</h4>
		<p style=""> Here's some stuff about the task.  Join uAchieve today!  It's a social task-accomplishment application that allows you to finish tasks and keep track of what your friends have been doing!<p>
		</div>
	</div>

	{% for task in tasks %}
	<a href="/tasks/{{ task.name }}">
		<div class="task">
			<div class="square">
				<h1>{{ task.name[0] }}</h1>
				</div>
				<div>
				<h4>{{ task.name }}</h4>
				<p> {{ task.description }}<p>
			</div>
		</div>
	</a>
	{% endfor %}


</div>
{% endblock %}