{% extends 'layout.html' %}

{% block content %}

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

<!-- Login popup box (hidden by default) -->
<div class="popup_signin"style="">

	<form method=post>

	<!-- Hidden tag is needed for wtforms validation! -->
	{{ login_form.hidden_tag() }}

	<a style="position:fixed;float:right;margin-right:0px;margin-left:31em;" onClick="javascript:hide_signin();" href="">x</a>
	<h2>sign in to uAchieve</h2>
	{{ login_form.username(size=32, placeholder="username") }}

    {% for error in login_form.username.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}

	{{ login_form.password(size=32, placeholder="password") }}

	{% for error in login_form.password.errors %}
	<span style="color:red;">[{{ error }}]</span>
	{% endfor %} 
	<input type="submit" class="submit" name="submit" value="sign in">
	</form>
</div>


<!-- Registration popup form (hidden by default) -->
<div class="popup_register">

	<form method=post>

	<!-- Hidden tag is needed for wtforms validation! -->
	{{ form.hidden_tag() }}

	<a style="position:fixed;float:right;margin-right:0px;margin-left:31em;" onClick="javascript:hide_register();" href="">x</a>
	<h2>join a community of people who do</h2>

    <!-- Registration Field -->
	{{ form.name(size=32, placeholder="name") }}

    {% for error in form.name.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}

	{{ form.email(size=32, placeholder="email") }}

	{% for error in form.email.errors %}
	<span style="color:red;">[{{ error }}]</span>
	{% endfor %}

	{{ form.username(size=32, placeholder="username") }}

    {% for error in form.username.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}

	{{ form.password(size=32, placeholder="password") }}

	{% for error in form.password.errors %}
	<span style="color:red;">[{{ error }}]</span>
	{% endfor %} 
	<input type="submit" class="submit" name="submit" value="join">
	</form>
</div>

<!-- extra div wrapper for when we want to dim the background -->
<div class="body">

<!-- Front page - with login box -->
<div class="page" style="background-color:#666666;background:url(../static/images/canada.jpg) no-repeat center center fixed; 
	  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

	height:100vh;margin-top:-45px;padding-top:6%">

	<h1>uAchieve</h1>

	<!-- Messages and Error Messages -->
	<span style="text-align:center; text-indent:none;">
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
	    <ul>
	    {% for message in messages %}
	        <p style="color:red;">{{ message }} </p>
	    {% endfor %}
	    </ul>
	  {% endif %}
	{% endwith %}
	</span>

	<div class="loginbox" style="">

		<h3>your place for productivity.</h3>

		<!-- Register with first task -->
		<input placeholder="What do you want to accomplish?">
		<a href="#" onClick="javascript:register();" class="login">register</a>
		<a href="#" onClick="javascript:signin();" class="login">sign in</a>
		<a href="#" class="login" id="fb"style="">facebook</a>


	</div>
</div>

<!-- Description: become more productive today -->
<div class="page" style="height:155vh;padding-top:3%">
	<div class="center">
		<h1 style="font-size:36px;">become more productive today.</h1>
		<img src="static/images/task_manager.png" style="width:300px; height:240px; float:left;">
		<h3 class="info" style="padding-top:60px">innovative task manager keeps things organized and prioritized</h3>
		<img src="static/images/stats.png" style="width:300px; height:240px; float:left">
		<h3 class="info">custom stats and cool achievements to store your progress</h3>
		<img src="static/images/reminders.png" style="width:300px; height:240px;float:left">
		<h3 class="info" style="height:140px">nudges and reminders that will keep you motivated</h3>

	</div>
</div>

<!-- What will you achieve? -->
<div class="page" style="background-color:#666666;background:url(../static/images/nature_mountain.jpg) no-repeat center center; 
	  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	height:50vh;">
	<h1 style="line-height:50vh; color:#fff">what will you accomplish today?</h1>
	</div>
</div>

<!-- <div class="page" style="height:50vh;">
	<h1 style="line-height:48vh;">join us</h1>
	</div>
</div> -->

</div>

<!-- Javascript -->
<script type="text/javascript">

	// hide the navigation and signin boxes
	$( '.popup_signin' ).hide();
	$( '.popup_register' ).hide();
	$( '#navigation' ).hide();

	// user clicks sign in; shows the sign in box
	function signin() {
	    $( '.body' ).fadeTo(400, 0.5);
		$( '.popup_signin' ).fadeIn();
	}

	// hides the sign in box
	function hide_signin() { 
		$( '.body' ).fadeTo(400, 1);
		$( '.popup_signin' ).fadeOut(400);
	}

	// user clicks register; shows the registration box
	function register() {
	    $( '.body' ).fadeTo(400, 0.5);
	    $( '.popup_register' ).fadeIn();
	}

	// hides the registration box
	function hide_register() {
		$( '.body' ).fadeTo(400, 1);
		$( '.popup_register' ).fadeOut(400);
	}

	// if the person presses escape
	$(document).keyup(function(e) {
  		if (e.keyCode == 27) {
  			hide_signin();	// hide all the stuff
  			hide_register();
  			}   
	});

</script>


{% endblock %}
